 {{>breadcrumbs}}

<main>
  
<div class="container">
            <h2>COMING SOON!</h2>
           
            <h3>Something Exciting Is On Its Way...</h3>
            
    <p>We are currently working on creating a unique and personalized shopping experience for you. </p>
    <p>Sign up for our newsletter to be the first to know when we launch.</p>

    <div class="banner">
                <img id="responsive-banner" src="/public/images/Banner_Coming_Soon.jpg" alt="ArtisanAura Jewelry">
            </div>
        </div>

{{>onlynewsletter}}
</main>