 {{>breadcrumbs}}
<main class="form-control">
    <div class="container3">
        <h2>Contact Customer Support</h2>
        <div class="send us a message">
            <h3>Send us a Message!</h3>
        </div>
        <div class="input-group">
            <input class="input-text" type="text" name="email" id="email" required="" autocomplete="off">
            <label for="email">Email</label>
        </div>

        <h3>My message is about..</h3>
        <div class="checkbox">
            <input type="checkbox" name="Subject" id="Subject" required="">
            <label for="Checkbox">Orders/Products

                <div class="checkbox">
                    <input type="checkbox" name="Subject" id="Subject" required="">
                    <label for="Checkbox">Something else
                        <a target="_blank" <div class="input-group">>
                            <textarea id="service-messagebox" rows="4" cols="40"
                                placeholder="Your message here.."></textarea>
                        </a>
                </div>
                
            </label>
        </div>
        <input class="submit" type="submit" value="Send Message">
        </form>
    </div>
</main>