<main>
    <head>
  
<link rel="stylesheet" href="/public/css/guides.css">
{{>breadcrumbs}}
</head>
    <div class="container">
        <h2>Size Guides:</h2>
        <div class="banner">
        </div>
        <div>
            <p>Ring Guide</p>
         
            <img id="responsive-banner" src="/public/images/jewelryRing.jpg" alt="Ring Guide">


            <div>
                <p>Necklace Guide</p>
                <img id="responsive-banner" src="/public/images/jewelryNecklace.png" alt="Necklace Guide">
            </div>
        </div>

        <div>
            <p>Bracelet Guide</p>
            <img id="responsive-banner" src="/public/images/jewelryBracelet.jpg" alt="Ring Guide">
        </div>

        <div class="maintenance">

            <h3>Maintenance Guide:</h3>
            <p>- Store jewelry in a clean, dry place.</p>
            <p>- Avoid harsh chemicals.</p>
            <p>- Use mild cleaners for regular maintenance.</p>
            <p>- When unsure, take it off.</p>
        </div>

    </div>

    {{>newsletter}}
    {{>quiz}}
</main>