<link rel="stylesheet" href="/public/css/orderPlaced.css">
<main class="main-content">
    <div class="order-details">
        <h3 class="confirmed">Order has been placed!
            Your order #:
            {{id}}
        </h3>
    </div>
</main>
<a href="/Shop" class="cont">Continue Shopping</a> 