 {{>breadcrumbs}}

<main>
<div class="container">
            <h2>ArtisanAura Privacy Policy</h2>

<p>Last updated: July 10, 2023</p>

<p>ArtisanAura ("we", "us", "our") respects your privacy and is committed to protecting it through our compliance with this policy. This policy describes:
The types of information we may collect from you or that you may provide when you visit our website.
Our practices for collecting, using, maintaining, protecting, and disclosing that information.</p>

<p>By using our website, you agree to the collection and use of information in accordance with this policy.</p>

<p style="font-weight: bold;">Information We Collect About You</p>
<p>We collect several types of information from and about users of our website, including:</p>

<ul style="list-style-type: none;">
<li>a. Personal data, such as your name, email address, mailing address, and phone number.</li>
<li>b. Transaction data, such as details about payments from you and other details of products you have purchased from us.</li>
<li>c. Usage data, including information about how you use our website, products, and services.</li>
<li>d. Technical data, like internet protocol (IP) address, your login data, browser type and version, time zone setting and location, browser plug-in types and versions, operating system and platform, and other technology on the devices you use to access this website.</li>
</ul>

<p style="font-weight: bold;">How We Use Your Information</p>
<p>We use your information in the following ways:</p>

<ul style="list-style-type: none;">
<li>a. To present our website and its contents to you.</li>
<li>b. To provide you with information, products, or services that you request from us.</li>
<li>c. To carry out our obligations and enforce our rights arising from any contracts entered into between you and us.</li>
<li>d. To notify you about changes to our website or any products or services we offer or provide through it.</li>
<li>e. To allow you to participate in interactive features on our website.</li>
<li>f. In any other way we may describe when you provide the information.</li>
</ul>

<p style="font-weight: bold;">Disclosure of Your Information</p>
<p>We do not sell, trade, or otherwise transfer your personal data to outside parties. This does not include trusted third parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential.</p>

<p style="font-weight: bold;">Data Security</p>
<p>The security of your personal data is important to us. We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure. All information you provide to us is stored on our secure servers behind firewalls.</p>

<p style="font-weight: bold;">Cookies</p>
<p>Our website uses "cookies" to help personalize your online experience. You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer.</p>

<p style="font-weight: bold;">Changes to Our Privacy Policy</p>
<p>It is our policy to post any changes we make to our privacy policy on this page. If we make significant changes to how we treat our users' personal information, we will notify you through a notice on the website home page.</p>

<p style="font-weight: bold;">Contact Information
<p>To ask questions or comment about this privacy policy and our privacy practices, contact us at: artisanaurajewelry@gmail.com</p>

<p>Your use of ArtisanAura, and any disputes arising from it, is subject to this Privacy Policy. By using our website, you agree to our use of your information as set out in this Privacy Policy.</p>


        </div>
</main>