<main class="login-content">
    <div class="container3">
        <h2>Request Refund</h2>
        {{!-- <form class="form" action="/completed/Refund" method="POST" enctype="application/x-www-form-urlencoded"> --}}
            <div class="input-group">
                <input class="input-text" type="text" name="order number" id="order number" required="" autocomplete="off">
                <label for="email">Order Number</label>
            </div>

            <div class="input-group">
                <input class="input-text" type="text" name="email" id="email" required="">
                <label for="password">Email</label>
            </div>

            <input class="submit" type="submit" value="Submit Request">
                <div>
                </div>
                
            </div>
            
        </form>
    </div>
</main>