 {{>breadcrumbs}}

<main>
<div class="container">

<h2>Terms of Service for User Account Registration</h2>

<p><b>Acceptance of Terms</b>: By creating an account, the user agrees to abide by the site's terms of service.</p>

<p><b>Account Responsibility</b>: Users are responsible for maintaining the confidentiality of their account and password, and for all activities that occur under their account.</p>

<p><b>Personal Use</b>: The account is for the user's personal use only and may not be transferred or sold to others.</p>

<p><b>User Conduct</b>: Users agree to abide by all local, state, national, and international laws and regulations applicable to their use of the website.</p>

<p><b>Termination</b>: ArtisanAura reserves the right to terminate user access to the site for any reason, without notice, at its sole discretion.</p>


<h2>Privacy Policy for User Account Registration</h2>

<p><b>Collection of Information</b>: We collect personal information during account registration to identify users and provide a personalized experience.</p>

<p><b>Use of Information</b>: We use personal information to manage user accounts, process orders, and personalize the shopping experience.</p>

<p><b>Sharing of Information</b>: We may share user information with third parties for purposes such as processing payments, providing customer service, and improving our services. We do not sell user information to third parties.</p>

<p><b>Protection of Information</b>: We implement a variety of security measures to maintain the safety of users' personal information.</p>

<p><b>Cookies</b>: We use cookies and other similar technologies to improve and personalize the user experience.</p>

<p><b>User Rights</b>: Users have the right to access, correct, or delete their personal information at any time.</p>


        </div>
</main>