<div class="breadcrumbs">
    {{#each breadcrumbs}}
        {{#unless @last}}
            <a href="{{this.url}}" class="active-link">{{this.name}}</a> / 
        {{else}}
            <span class="inactive-link">{{this.name}}</span>
        {{/unless}}
    {{/each}}
</div>
