<footer class="botm-footer">
    <a id="about-us" target="_self" href="/AboutUs">About us</a>
    <a id="guides" target="_self" href="/Guides">Guides</a>
    <a id="shop" target="_self" href="/Shop">Shop</a>
    <a id="TOS" target="_self" href="/termsConditions">Terms & Conditions</a>
    <a id="privacy" target="_self" href="/PrivacyPolicy">Privacy Policy</a>
    <a id="Refund" target="_self" href="/req-refund">Request Refund</a>
    <a id="orderStatus" target="_self" href="/order-status">Order Status</a>
    <a id="Customer Support" href="/CustomerSupport">Contact Us</a>
   
    
    {{!-- artisanaurajewelry@gmail.com --}}
    
    

    <!-- ^^^ edit for social media links, add in logs to click  -->
    ArtisanAura &copy; 2023 V.1
    
    <a id="facebook" target="_self" href="https://www.facebook.com/profile.php?id=100094374397073"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a id="twitter" target="_self" href="https://twitter.com/ArtisanAura"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a id="instagram" target="_self" href="https://www.instagram.com/artisanaurajewelry/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</footer>