<div class="container2">
    <section id="newsletter" class="newsletter">
        <h3>Join the ArtisanAura Community</h3>
       <form method="POST" action="/Newsletter" enctype="application/x-www-form-urlencoded">
            <input type="email" name="email" placeholder="Enter Email" required>
            <button type="submit">Subscribe</button>
        </form>
        <p id="newletter-message"></p>
    </section>

    <button id="quiz-button"><h3>Discover Your Unique Style with Our Quiz</h3></button>
</div>


