<section id="quiz-popup" class="quiz-popup">
    <div class="quiz-content">
        <div class="quiz-text">
            <h3 id="question"></h3>
            <div id="quiz-options"></div>
        </div>
        <button id="next" onclick="nextQuestion()">Next question</button>
        <button id="close-quiz" onclick="closeQuiz()">X</button>
    </div>
</section>